/* Colores para la paginaaa */

$color1: #27ae60;
$color1: #229954;
$color1: #1e8449;
$color1: #196f3d;
$color1: #145a32;

/* opcional */
$Blanco: #FFFFFF;
/* Fondo, texto sobre verde */
$Gris : #E0E0E0;
/* Fondo suave, separadores */
$Gris2: #424242;
/* Texto, títulos */
$Azul :#003366;
/* Detalles, botones */
$Amarillo :#FFB300;
/* 	Destacar botones o alertas */
$Beige: #F5F5DC;
/* Fondo cálido, secciones */
$Negro :#212121;
/* Texto principal */