.logo {
    margin-top: -1000px;
}

.footer {
    color: rgb(255, 255, 255);
    font-family: "Crimson Text", serif;
    font-size: 30px;
    background-color: #289d13;
    height: 50px;
    margin-top: 30px;
    text-align: center;
}

.link {
    text-align: center;
    margin-top: 290px;
}